
br
P Page Two!
p
The num is #{myNum}
p
p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

script.
	loadjs.ready('style', function () {
		console.log('page 2 component')
	})