extends /plugin/_layout
//- App Shell

block head
	title #{title}

block main
	script(src='first-tag.js')
	p
	br
	p
	.ui.text.container
		p oh hi
		first-tag

	script.
		let firstTag = riot.mount('first-tag')[0] // the first tag
		firstTag.doSomething({num:20})

